.table-box{
  display: none;
}

tr:nth-child(even) {
  background-color: white !important;
}

tr:nth-child(odd) {
  background-color: #e6eeff !important;
}

tr:hover {
  background-color: #f2f2f2 !important;
}

th {
  background-color: #003099 !important;
  color: white !important;
}
