body {
  margin-top: 100px;
  background-color: black;
  font-family: 'Exo 2', sans-serif;
  /*for notes*/
  /*font-family: 'Gloria Hallelujah', cursive; (notes)*/
}

h1, h2, h4, h5, .title {
  font-family: 'Russo One', sans-serif;
}

th {
  background-color: #003099 !important;
  color: white !important;
}

nav {
  margin: 0 !important;
}

tr:nth-child(even) {
  background-color: white !important;
}

tr:nth-child(odd) {
  background-color: #f2f2f2 !important;
}

tr:hover {
  background-color: #e6eeff !important;
}

li .title {
  padding-right: 20px;
}

.navbar-nav li a {
  line-height: 100px;
  height: 100px;
  padding-top: 0;
  font-size: 25px;
}

.stats-background {
  background-image: url("/background/field-black-small.jpg");
  height: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.stats {
  padding-top: 100px;
}

.player {
  background-color: white;
}

.mvp {
  color: white;
  background-image: url("/background/lights.jpg");
  height: 100vh;
  font-size: 20px;
}
.mvp-image {
  width: 100%;
}

.mvp-container {
  background-color: rgba(0, 0, 0, 0.5);
}

.calculator-background {
  background-image: url("/background/teams.jpg");
  background-size: contain;
}

.dataTables_wrapper {
  font-size: 18px !important;
}

.dataTabkes_filter input {
  height: 18px;
  font-size: 18px;
}

.table {
  color: black;
}

.black {
  background-color: black;
  color: white;
}

.radio-inline {
  font-size: 24px;
  color: #C9CA91;
  text-shadow: 2px 2px 5px black;
}

.icons {
  height: 25px;
  width: auto;
}

.navbar{
  background-image: url("/carousel/black-banner.jpg");
}

.black {
  background-color: black;
  padding-bottom: 100px;
}

.num {
  font-family: 'Wallpoet', cursive;
}

.csize {
  width: 100%;
  height: auto;
}

.table-box{
  display: none;
}

.fantasy, .video {
  width: 560px;
  height: 315px;
  display: block;
  margin: auto;
}

.header {
  width: 100%;
}

.teamlogo {
  width: 25px;
  height: auto;
}

.box {
  border: 1px solid black;
  text-align: center;
}

.resize {
  width: 30vw;
  height: auto;
}

.player-stat {
  text-align: center;
  font-size: 40px;
}

.calc-forms {
  margin-bottom: 5px;
}

.calc-forms input {
  width: 275px !important;
}

#myCarousel {
  border-top: solid 55px black;
  border-bottom: solid 60px black;
}

@media screen and (max-width: 767px) {
  #myCarousel {
    border-top: solid 0px black;
    border-bottom: solid 0px black;
  }
  .navbar{
    background-image:none;
  }
}

@media screen and (max-width: 991px) {
  #myCarousel {
    border-top: solid 0px black;
    border-bottom: solid 0px black;
  }
}
