<!DOCTYPE html>
<html>
  <head>
    <title>Fantasy Football</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter|Covered+By+Your+Grace|Dhurjati|Faster+One|Gloria+Hallelujah|Josefin+Sans|Permanent+Marker|Russo+One|Wallpoet" rel="stylesheet">
    <link rel='stylesheet' href='/app.css'>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar1">
          <ul class="nav navbar-nav">
            <li class="title padding-right"><a href="/"><img src="icons/american-football.svg" class="icons"> Home   </a></li>
            <li class="title padding-right"><a href="/stats"><img src="icons/diagram.svg" class="icons"> Stats   </a></li>
            <li class="title padding-right"><a href="/calculator"><img class="icons" src="icons/computer.svg"> Calculator</a></li>
          </ul>
        </div>
      </div>
    </nav>
      #parse( $template )
  </body>
</html>
