<!DOCTYPE html>
<html>
  <head>
    <title>Fantasy Football</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Exo+2|Gloria+Hallelujah|Russo+One|Wallpoet" rel="stylesheet">

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

    <link rel='stylesheet' href='/app.css'>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar1">
          <ul class="nav navbar-nav">
            <li class="title"><a href="/"><img src="../icons/american-football.svg" class="icons"> Home</a></li>
            <li class="title"><a href="/stats"><img src="../icons/diagram.svg" class="icons"> Stats</a></li>
            <li class="title"><a href="/calculator"><img class="icons" src="../icons/computer.svg"> Calculator</a></li>
            <li class="title"><a href="/mvp"><img src="../icons/newspaper.svg" class="icons"> Featured Player</a></li>
          </ul>
        </div>
      </div>
    </nav>
      #parse( $template )
  </body>
</html>
